# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/out/
/github/
   # Configuración específica de IntelliJ IDEA
   /.idea/
   /*.iml
   # Archivos .class generados al compilar
   *.class
      # Dependencias descargadas por Maven
      /.mvn/

      # Dependencias descargadas por Gradle
      /.gradle/
      build/

      # Archivos de logs
      *.log
         /logs/
         /.git/
         github/